.App {
  text-align: center;
  margin: auto;
}
form {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 8px 10px rgba(232, 24, 24, 0.25);

}
.topTable{
background-color: #3d5a80;  
border-color:#3d5a80; 
box-shadow: 8px 5px #c0c0c0;
color: white;

}

/* .table{
  border: 1px solid black;

} */
table, th, td {
  
  margin: auto;
  /* background-color: #98c1d9; */

}
.bottomHeader{
  background-color: #3d5a80;
  color: white;
}
